* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(img/fondo.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: center;
}

nav {
    display: flex;
    background-color: #A6A6A6;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 2vh;

}

h1 {
    text-align: center;

}

.optionnav {
    text-align: center;
    padding: 2px;
    background-color: rgba(97, 57, 121, 0.4);
    border-radius: 7vh;
    height: 40px;
    width: 100px;
}

.optionnav:hover {
    background-color: rgba(97, 57, 121, 0.7);
}

.logolist {
    padding-right: 110vh;
    border-radius: 0px;
    height: 50px;
    justify-content: space-between;
    z-index: 1;
}

/* Eliminar los márgenes y el relleno de la lista */
ul {
    margin: 0;
    padding: 0;
}

/* Estilar los elementos de la lista */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: url(img/Leiapx.png);
    /* hacer que los elementos de la lista no se puedan seleccionar */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Establecer un color diferente para todos los elementos de la lista impares (rayas de cebra) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Color de fondo más oscuro al pasar el ratón */
ul li:hover {
    background: #ddd;
}

/* Cuando se hace clic en un elemento, añadir un color de fondo y tachar el texto */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Añadir una marca de "comprobado" cuando se hace clic en un elemento */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Estilar el botón de cerrar */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #d6cbca;
    color: white;
}



/* Limpiar los flotantes después de la cabecera */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Estilar el input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Estilar el botón "Añadir" */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

/* RESPONSIVE MEDIA QUERIES */

